<!DOCTYPE html>
<html>
<head>
  {% include('inc/nav.html.twig') %}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.base.css') }}">
</head>
<body>
<h1>Congés</h1>

</body>
</html>