{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <h1>Profil de {{ user.nomU }}</h1>
    <p>Nom: {{ user.pnomU }}</p>
    <p>Email: {{ user.mailU }}</p>
{% endblock %}
