.containertitle {
        text-align: justify;
        position: absolute; /* postulat de départ */
        top: 14%;
        left: 49.8%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }

    .containerform {
        text-align: justify;
        position: absolute; /* postulat de départ */
        top: 40%;
        left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }

    .message {
        text-align: justify;
        position: absolute; /* postulat de départ */
        top: 100%;
        left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }

    .boutton {
        text-align: justify;
        position: absolute; /* postulat de départ */
        top: 115%;
        left: 47%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    }


    label {
        display: block;
    }
