{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}
    <html>
    <head>
        {% include('inc/nav.html.twig') %}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.base.css') }}">
    </head>
    <body>
    <h1>Dashboard</h1>

    </body>
    </html>
{% endblock %}
