{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}
    <html>
    <head>

    </head>
    <body>
    <h1>Dashboard</h1>

    </body>
    </html>
{% endblock %}
