@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/* Taille bouton grande page */


body {
  margin: 0px 0px;
  padding: 0px;
}


.navbar-brand {
  font-family: 'Russo One', sans-serif;
  font-size: 35px !important;
}


.gerersescongesfont {
  color: blueviolet !important;
  font-size: 18px;
}


.planningfont {
  color: white !important;
  font-size: 18px;
}


.panneaudrhfont {
  color: white !important;
  font-size: 18px;
}


.panneauadminfont {
  color: white !important;
  font-size: 18px;
}


.profilfont {
  color: white !important;
  font-size: 18px;
}




/* option boutons grand écran */
@media (min-width: 1742px){


  .rightdcnbtn {
      position: absolute;
      top: 28%;
      right: 5%;
    }
  .rightlogbtn {
    position: absolute;
    top: 16%;
    right: 5%;
  }
  .btn {
    font-size: 16px !important;
  }




  /* option petit écran */
@media (max-width: 768px) {


  body {
    margin: 0px 0px;
    padding: 0px;
  }


  .btn {
    padding: .55rem 1.5rem .45rem;
    margin: 0px 25px;
  }


  .gerersescongesfont {
    position: absolute;
    top: 25%;
    right: 50%;
    font-size: 15px !important;
  }


  .planningfont {
    position: absolute;
    top: 0%;
    right: 50%;
    font-size: 15px !important;
  }


  .panneaudrhfont {
    position: absolute;
    top: 0%;
    right: 50%;
    font-size: 15px !important;
  }


  .panneauadminfont {
    position: absolute;
    top: 0%;
    right: 50%;
    font-size: 15px !important;
  }


  .profilfont {
    position: absolute;
    top: 0%;
    right: 50%;
    font-size: 15px !important;
  }


}
}

