@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
  background-color: lightgray;
}

.acceuilfont {
  font-family: 'Russo One', sans-serif;
}

.btn {
  padding: .55rem 1.5rem .45rem;
}